.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../../images/header_image.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__waves {
  height: 57px;
  width: 48px;
  margin-bottom: 16px;
  background-image: url(../../images/icons/icon--sounds-wave.png);
}

.header__title {
  margin: 0;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.header__bottom {
  padding: 0 20px 40px;
}
