.body {
  margin: 0;
}

.stars {
  display: flex;
  width: 100px;
  height: 16px;
  justify-content: space-around;
}

.stars__star {
  background-image: url("../images/star-active.svg");
  width: 16px;
  background-repeat: no-repeat;
  margin: 2px 0;
}
