.page {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__element {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__frame {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 96px;
}
