.page {
  margin: 0;
  height: 100vh;
  background: var(--bg-page);

  display: flex;
  justify-content: center;
  align-items: center;
}

.page__content {
  background: var(--bg-content);
  padding: 0 0 4px;

  display: flex;
  flex-direction: column;
}
