.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  margin-right: 4px;
  background-position: center;
}

.stars__star:last-child {
  margin-right: 0;
}
