* {
  margin: 0;
  box-sizing: border-box;
}

.stars {
  display: flex;
  margin-bottom: 0;
}

.stars__star {
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: url(../../images/star-active.svg);
}
