.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
}

.stars__star::before {
  content: url(../../images/star-active.svg);
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--0 .stars__star:nth-child(n + 1)::before {
  content: url(../../images/star.svg);
}

.stars--1 .stars__star:nth-child(n + 2)::before {
  content: url(../../images/star.svg);
}

.stars--2 .stars__star:nth-child(n + 3)::before {
  content: url(../../images/star.svg);
}

.stars--3 .stars__star:nth-child(n + 4)::before {
  content: url(../../images/star.svg);
}

.stars--4 .stars__star:nth-child(n + 5)::before {
  content: url(../../images/star.svg);
}
