.icon{
    display: block;
    height: 24px;
    width: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../img/Icon-burger-menu.png);
}

.icon--phone{
  background-image: url(../../img/icone-phone.png);  
}

.icon--menu{
    background-image: url(../../img/Icon-burger-menu.png);
}

.icon--close{
    background-image: url(../../img/Icon-close.png);
}
