.stars__wrapper {
  width: 140px;
  height: 160px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars__container {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.stars {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
}

.stars__star {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
