body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.stars {
  display: flex;
}

.stars__star {
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.stars__star:nth-child(n + 2) {
  margin-left: 4px;
}
