/* .stars--2 {
  display: flex;
} */

.stars--2 .star {
  width: 16px;
  height: 16px;
  background-image: url('../images/star.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.stars--2 .star:nth-child(-n + 2) {
  background-image: url('../images/star-active.svg');
}

.stars--2 .star:last-child {
  margin-right: 0;
}
