body {
  margin: 0;
}

.stars {
  margin-bottom: 3px;
  display: flex;
}


.stars__star {
  margin: 3px;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-image: url(../images/star.svg);
}

.stars--1 :first-child {
  background-image: url(../images/star-active.svg);
}

.stars--2 :nth-child(-n + 2) {
  background-image: url(../images/star-active.svg);
}

.stars--3 :nth-child(-n + 3) {
  background-image: url(../images/star-active.svg);
}

.stars--4 :nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.stars--5 :nth-child(-n + 5) {
  background-image: url(../images/star-active.svg);
}
