.stars--3 .stars__star:nth-child(1) {
  background-image: url(../images/star-active.svg);
}

.stars--3 .stars__star:nth-child(2) {
  background-image: url(../images/star-active.svg);
}

.stars--3 .stars__star:nth-child(3) {
  background-image: url(../images/star-active.svg);
}
