.stars--2 :first-child {
  background-image: url(../images/star-active.svg);
}

.stars--2 :nth-child(2) {
  background-image: url(../images/star-active.svg);
}

.stars--2 :nth-child(3) {
  background-image: url(../images/star.svg);
}

.stars--2 :nth-child(4) {
  background-image: url(../images/star.svg);
}

.stars--2 :last-child {
  background-image: url(../images/star.svg);
}
