.stars {
  display: flex;
  align-items: center;
}

.stars__star {
  background: url(./images/star.svg) no-repeat center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}
