.stars__star {
  background-image: url(../../images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 0.5px;
}

.stars__star:first-child {
  margin-left: 0;
}
