.stars {
  display: flex;
}

.stars__star {
  width: var(--star-size);
  height: var(--star-size);
  background-repeat: no-repeat;
  background-position: center;

  background-image: url('../images/star.svg');
}

.stars--1 > :first-child,
.stars--2 > :nth-child(-n + 2),
.stars--3 > :nth-child(-n + 3),
.stars--4 > :not(:last-child),
.stars--5 > * {
  background-image: url('../images/star-active.svg');
}

.stars__star:not(:last-of-type) {
  margin-right: 4px;
}
