html {
  margin: 0;
  padding: 0;
}

body {
  width: 96px;
  height: 116px;
  margin: 0;
  padding: 0;
}

.stars--0,
.stars--1,
.stars--2,
.stars--3,
.stars--4,
.stars--5 {
  display: flex;
}

.stars__star {
  background-repeat: no-repeat;
  background-size: auto;
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

