.page {
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page__item {
  padding-bottom: 4px;
}

.page__item:last-child {
  padding-bottom: 0;
}
