.stars {
  margin: 0;
  padding: 2px 0;

  display: flex;
  list-style-type: none;
}

.stars--0 > :nth-child(0) {
  background-image: url("images/star-active.svg");
}

.stars--1 > :nth-child(-n + 1) {
  background-image: url("images/star-active.svg");
}

.stars--2 > :nth-child(-n + 2) {
  background-image: url("images/star-active.svg");
}

.stars--3 > :nth-child(-n + 3) {
  background-image: url("images/star-active.svg");
}

.stars--4 > :nth-child(-n + 4) {
  background-image: url("images/star-active.svg");
}

.stars--5 > :nth-child(-n + 5) {
  background-image: url("images/star-active.svg");
}

.stars__star {
  margin-right: 4px;

  display: block;
  width: 16px;
  height: 12px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/star.svg");
}
