.stars__star {
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}
