body {
  margin: 0;
  padding: 0;
}

.stars {
  display: flex;
}

.stars__star {
  display: inline-block;
  background-image: url(images/star.svg);
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star.active {
  background: url("images/star-active.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 16px;
  height: 16px;
}
