/* html{

} */

body {
  margin: 0;
  padding: 0;

  border: solid 2px red;
  width: 500px;
  height: 500px;
}

.stars{
  display: flex;
}

.stars--0 {
  border: dashed 2px rgb(0, 38, 255);
  width: 96px;
  height: 40px;
}


.stars--1{
  border: dashed 2px rgb(14, 26, 27);
  width:96px;
  height: 40px;
}

.stars--2{
  border: dashed 2px rgb(255, 0, 217);
  width: 96px;
  height: 40px;
}

.stars--3{
  border: dashed 2px rgb(255, 38, 0);
  width:96px;
  height: 40px;
}

.stars--4{
  border: dashed 2px rgb(13, 0, 255);
  width:96px;
  height: 40px;
}

.stars--5{
  border: dashed 2px rgb(47, 255, 0);
  width:96px;
  height: 40px;
}

.stars__star{
  background-image: url(./images/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;

  background-color: aquamarine;
}